/*
// Muaz Khan         - www.MuazKhan.com
// MIT License       - www.WebRTC-Experiment.com/licence
// Experiments       - github.com/muaz-khan/WebRTC-Experiment
*/

@font-face {
    font-family: 'Myriad';
    src: url('//www.webrtc-experiment.com/fonts/MyriadPro-Light.otf') format("opentype");
    font-weight: 400;
}

body, body * {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-user-drag: none;
    font-family: Myriad, Arial, Verdana;
    word-wrap: break-word;
}

html {
    background: rgb(247, 253, 244);
}

body {
    border-right: 2px solid rgb(23, 228, 56);
    border-left: 2px solid rgb(80, 238, 29);
    margin: 0 2%;
    background: white;
    font-size: 1.2em;
    line-height: 1.5em;
}

body {
    padding: 30px 30px;
}

.main {
    border: 1px solid black;
    /*border-radius: 6px;*/
}

.new-message {
    min-height: 7em;
    border-top: 1px solid black;
}

.new-message:first-child {
    border-top: 0;
}

.user-info {
    /*width: 40px;*/
    min-height: 7em;
    float: left;
    border-right: 1px solid black;
    text-align: center;
}

.user-info img{
    width: 40px;
    height: 40px;
}
.user-info video {
    width: 134px;
    height: 134px;
}

.user-info audio {
    width: 100%;
}

.user-activity {
    margin-left: 10em;
    padding: .4em .8em;
}

.header {
}

.message {
    padding: .6em .8em;
    word-wrap: break-word;
}

.message img, .message iframe {
    width: 64%;
    border: 2px solid black;
    border-radius: 5px;
}

.main-input-box {
    border: 1px solid black;
    border-bottom: 0;
    padding-bottom: 1px;
    text-align: right;
    /*margin-left: 193px;*/
    margin-right: 125px;
    padding-right: 21px;
}

.main-input-box textarea {
    border: 0;
    width: 100%;
    resize: none;
    padding: .4em .8em;
    font-size: inherit;
    font-family: inherit;
    padding-right: 177px;
    background: transparent;
}

button, .users-list
{
	padding: 5px 10px;
	cursor: pointer;
	display:inline-block;
	color: #FDFDFD;
	font-size: 20px;
	color: black;
	border: 1px solid rgba(231, 72, 50, 0.59);
	border-radius: 2px;
	background-color: rgba(204, 60, 25, 0.63);
}
button:hover, .users-list:hover
{
	 background-color: rgba(204, 60, 25, 0.83);
}
button:active, .users-list:active
{
     background-color: rgba(204, 60, 25, 0.9);
}

button[disabled], input[type=button][disabled] {
    background-color: transparent;
    border: 1px solid rgb(187, 181, 181);
    color: gray;
    text-shadow: none;
}

.icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
}

#allow-webcam {
    background-image: url('images/webcam.png');
}

#allow-mic {
    background-image: url('images/microphone.png');
}

#allow-screen {
    background-image: url('images/screen.png');
}

#share-files {
    background-image: url('images/share-files.png');
}

#continue {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url('images/action-needed.png');
    padding-right: 47px;
	padding-top: 1px;
	padding-bottom: 4px;
}

a {
    color: #2844FA;
    text-decoration: none;
}

a:hover, a:focus {
    color: #1B29A4;
}

a:active {
    color: #000;
}

input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    font-size: 15px;
    height: 32px;
    width: 200px;
    margin-top: .5em;
    padding: 0 8px;
    -moz-user-select: initial;
    -o-user-select: initial;
    -webkit-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin: 0;
    vertical-align: middle;
}

h1 {
    position: absolute;
    color: rgb(10, 175, 253);
    text-shadow: 1px 1px rgb(7, 129, 160);
}

h1 img {
    width: 60px;
    height: 60px;
}

.users-list {
    position: absolute;
    right: 63px;
    padding: 0;
    color: white;
    margin-top: 0px;
    width: 118px;
    height: 110px;
    cursor: default;
    border-radius: 0;
    border-top-right-radius: 20px;
}

.users-list.selected {
    background-color: black;
}

.users-list img {
    width: 82%;
    height: 104px;
}

.numbers-of-users {
    position: absolute;
    font-size: 3em;
    left: 38%;
    top: 60px;
}

.users-container, .settings-panel {
    margin: 0 0 13px 0;
    border: 1px solid black;
    overflow: hidden;
    overflow-x: auto;
    height: 180px;
    border-radius: 5px;
    display: none;
}

.users-container video {
    height: 100%;
}

.self-url {
    position: absolute;
    top: 5px;
    left: 251px;
    height: 25px;
    overflow: hidden;
}

.settings {
    position: absolute;
    top: 33px;
    right: 210px;
}

#settings {
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url('images/settings.png');
    padding-right: 35px;
    margin-top: -1px;
}

#save-settings {
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url('images/accepted.png');
    padding-right: 53px;
    border-color: rgb(133, 21, 21);
}

.settings-panel {
    height: auto;
    overflow: hidden;
    padding: .4em .8em;
}

strong {
    color: rgb(204, 14, 14);
    font-family: inherit;
    font-weight: normal;
}

tr, td, th {
    vertical-align: top;
    padding: .7em 1.4em;
    border-top: 1px dotted #BBA9A9;
    border-right: 1px dotted #BBA9A9;
}

table {
    width: 100%;
}

h1, h2 {
    border-bottom: 1px solid rgb(189, 189, 189);
    display: inline;
    font-weight: normal;
    line-height: 36px;
    padding: 0 0 3px 0;
}

select {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    padding: .4em .4em;
    margin-top: 5px;
}

label.adjust-width {
    display: inline-block;
    width: 30%;
}

small {
    display: inline-block;
    vertical-align: middle;
}

.smiley {
    width: 20px!important;
    height: 20px;
    border: 0!important;
    vertical-align: middle;
}
#who-is-typing
{
	text-align: left;
	position: absolute;
	margin: 0 18px;
	color: red;
}
